<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="/list_drivers.html" class="nav-link px-2 text-white">List Drivers</a></li>
        {% if session['role'] == 'admin' %}
          <li><a href="/add_driver.html" class="nav-link px-2 text-white">Add Driver</a></li>
        {% endif %}
        <li><a href="/list_races.html" class="nav-link px-2 text-white">List of Races</a></li>
        <li><a href="/list_teams.html" class="nav-link px-2 text-white">List of Teams</a></li>
      </ul>

      <!-- LOGIN/LOGOUT -->
      <div class="text-end">
        {% if session["isLoggedin"] %}
          {{ session["user_name"] }}
          <a href="/logout.html" class="btn btn-outline-light ms-2">Logout</a>
        {% else %}
          <a href="/login.html" class="btn btn-outline-light me-2">Login</a>
          <a href="/signup.html" class="btn btn-warning">Sign-up</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

